:root {
    --maxScrin: 1920;
    --canvasPx: 1320px;
    --minScrin: 320;
    --minScrinPx: 320px;
    --col: 12;
    --offset: 20px;
    --heightHeader: 70px;

    --white255: rgb(255, 255, 255);
    --black000: rgb(0, 0, 0);
    --blact100: SlateGray;
    --blue100: DeepSkyBlue;
}
body { font-family: roboto, sans-serif; }
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--heightHeader);
    background-color: var(--blue100);
}
.main {
    margin-top: var(--heightHeader);
    width: 100%;
    flex: 1 1 100%;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: var(--blact100);
    position: fixed;
    bottom: 0px;
}
.g_container {
    width: clamp(var(--minScrinPx), 90vw, var(--canvasPx));
    margin: 0px auto;
}