/** СПЕЦ СИМВОЛЫ/
₽ ★ ☆ ⚹ ✱ ✪ ✶ ✷ ✸ ✹ ✺ ✲ ✳ ⁕ ✔ ✖ ❤ 🔍 🔎 ✉ © ® ☎ 🛠 🗸 ✔ ✓ ⚠ ✖ ♲ ♳ ♴ ♵ ♶ ♷ ♸ ♹ ♺ ♻ ♼ ♽ 👉 👈 👆 👇 👍 👎 👌 – −
« » ＠ № ％ § 🖋 ✉ ⁢∞
✔ 💡 🛠 🔨 ⚒ 📌 📝 🔔 ✏ 🔥 ⚡ ❄ ⌚ 📸 💾 📁 📂 🗂 ☦ 📃 📄 📜 📈 🗓 🌡 🔑 🔒 🔗 ⛔ 🌐 ❤ ♻️ 🔹 🚀
🔸 🔹 🔳 🔘 ⚪ 🔴 🔵 ⚡ 🎯 ⛔ ✅ ☑️ ❌ ⭐ 🌐 💎 💡 📌 🔥 🚩 ⁡⁢⁣⁢⁡⁣⁣⁢🗑⁡⁡ 🛒 💪⁡⁣⁢⁢
/** CSS ФОРМУЛА АДАПТИВНОГО ПИКСЕЛЯ */
⁡⁣⁣⁢:root {
    --maxScrin: 1920;
    --canvasPx: 1320px;
    --minScrin: 320;
    --minScrinPx: 320px;
    --col: 12;
    --offset: 20px;
    --heightHeader: 70px;

    --white255: rgb(255, 255, 255);
    --black000: rgb(0, 0, 0);
}⁡
⁡⁢⁢⁢.size {
    /* Стандартные breakpoints */
    --xl: 1600.98px;   /* Большие экраны */
    --lg: 1280.98px;   /* Десктоп */
    --md: 1024.98px;   /* Ноутбуки */
    --sm: 768.98px;    /* Планшеты */
    --xs: 480.98px;    /* Телефоны */

    --xxlg:	 1500.98px;
	--xlg: 	 1366.98px;
	--lg: 	 1280.98px;
	--md: 	 1024.98px;
	--sm: 	 768.98px;
	--xs: 	 560.98px;
	--xxs: 	 390.98px;
}⁡
.g_container {
    width: clamp(var(--minScrinPx), 90vw, var(--canvasPx)); 
    margin: 0px auto;
}
/** АДАПТИВНЫЙ РАЗМЕР, ШИРИНА В КОЛОНКАХ МОДУЛЬНОЙ СЕТКИ В CSS*/
.test {
    font-size: calc(18px + (28 - 18) * (100vw - var(--minScrinPx)) / (var(--maxScrin) - var(--minScrin)));
    width: calc(100% / var(--col) * 3 - var(--offset));
}
/** СВОЙСТВА */
/*? ИЗМЕНЕНИЕ РАЗМЕРА БЛОКА ПОЛЬЗОВАТЕЛЕМ */
.test {
    resize: none;
    /*⁡⁣⁣⁢ none — пользователь не может изменять размер элемента. Это значение по умолчанию.⁡ */
    /* ⁡⁣⁣⁢both — пользователь может изменять высоту и ширину элемента.⁡ */
    /* ⁡⁣⁣⁢horizontal — пользователь может изменять ширину элемента.⁡ */
    /* ⁡⁣⁣⁢vertical — пользователь может изменять высоту элемента.⁡ */
    /* ⁡⁣⁣⁢initial — устанавливает свойство в значение по умолчанию.⁡ */
    /* ⁡⁣⁣⁢inherit — указывает, что значение наследуется от родительского элемента.⁡ */
}
/*? ОТКЛЮЧИТЬ КЛИКАБЕЛЬНОСТЬ ЭЛЕМЕНТА */
.test {
    pointer-events: none;
}
/*? ШРИФТЫ */
.test {
    line-height: 1.5; /* ⁡⁣⁢⁢в %, ед. Межстрочный интервал⁡ */ 
    letter-spacing: 1px; /* ⁡⁣⁢⁢в px, ед. Межбуквенный ин6тервал⁡ */
    font-size: 62.5%; /* ⁡⁢⁢⁡⁣⁢⁢для <html> rem⁡⁡⁡ */ 
}
/*? ОТКЛЮЧИТЬ ВЫДЕЛЕНИЕ */
.test {
    user-select: none;
}
/*? ИЗМЕНЕНИЕ ТЕКСТА РЕГИСТР*/
.text {
    text-transform: uppercase;
    /* uppercase — все буквы в верхнем регистре */
    /* lowercase — все буквы в нижнем регистре */
    /* capitalize — первая буква каждого слова в верхнем регистре */
    /* initial — устанавливает свойство в значение по умолчанию. */
    /* inherit — указывает, что значение наследуется от родительского элемента. */
}
/*? ТЕКСТ ПЕРЕЧЁРКИВАНИЕ, ЦВЕТ, СТИЛЬ, ТОЛЩИНА ЛИНИИ */
.text {
    /* Перечеркивает */
    text-decoration: line-through; 
    /* ⁡⁣⁢⁢Все его отдельные свойства:⁡ */
    text-decoration-line: line-through;
    /* line-through - перечёркивание */
    /* underline — подчёркивание; */
    /* overline — линия над текстом; */
    /* none — отменяет все эффекты (по умолчанию). */
    /* ⁡⁣⁢⁢определяет цвет декоративной линии:⁡ */
    text-decoration-color: #123E66;
    /* ⁡⁣⁢⁢определяет стиль декоротивной линии⁡ */
    text-decoration-style: solid;
    /* ⁡⁣⁢⁢задаёт толщину обводки декоративной линии⁡ */
    text-decoration-thickness: 2px;
    /* auto — значение по умолчанию, браузер сам определит толщину линии. */
    /* from-font — если в файле шрифта прописана предпочтительная толщина декоративной линии, то будет использована она. Если нет, то значение будет установлено в auto. */
}
/*? ОБРЕЗАТЬ ТЕКСТ С МНОГОТОЧИЕМ */
/** Код ниже обрежет текст, добавив в конце строки многоточие. Также добавлены свойства, без которых text-overflow не сработает: */
p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*? СБРОС СТАНДАРТНОГО ОФОРМЛЕНИЯ ЧЕКБОКСА */
    input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    /* базовые стили для кастомного оформления */
    width: 24px;
    height: 24px;
    border: 0.5px solid #c0c0c0;
    border-radius: 6px;
    cursor: pointer;
    &:checked::before {
        content: "✔️";
        position: relative;
        top: 0px;
        left: 0px;
    }
}
/*? ОТКЛЮЧИТЬ БОРДЕР С КНОПОК  */
button {
    outline: none;
}
/*? ОТРАЖЕНИЕ РАЗМЕРОВ ЭЛЕМЕНТА НА СТРАНИЦЕ */
div {
    box-sizing: border-box;
    /* border-box включает в ширину и высоту content border padding, кроме margin */
}
/* ? СПИСОК li */
li {
    list-style-type: disc; 
    /* ⁡⁢⁢⁢disc⁡ - круглишки с чёрным фоном */
    /* ⁡⁢⁢⁢circle⁡ - круглишки без фона */
    /* ⁡⁢⁢⁢decimal⁡ - цифры */
    /* ⁡⁢⁢⁢decimal⁡-leading-zero - цифры с нулём впереди */
    /* ⁡⁢⁢⁢square⁡ - квадратик с чёрным фоном */
    /* ⁡⁢⁢⁢upper-roman⁡ - с Римскими цифрами */
    /* ⁡⁢⁢⁢lower-latin⁡ - маленькие латинские буквы */
    /* ⁡⁢⁢⁢upper-latin⁡ - большие латинские буквы */
}
/* ? Hold the bar */
/*scrollbar-gutter решает проблему с «прыгающей» шириной контента при появлении или скрытии скроллбара. Обычно эта проблема появляется при изменении высоты контента или появлении модального окна.*/
body {
    scrollbar-gutter: stable;
}
/*
У scrollbar-gutter 3 возможных значения:

auto — дефолтное значение. Если задано overflow: scroll или overflow: auto и контент вызывает переполнение, то появится отступ для скроллбара.
stable — отступ для скроллбара появляется если значение overflow равно hidden, scroll или auto, вне зависимости от того, вызывает контент переполнение или нет.
stable both-edges — то же самое что и stable, но отступы будут создаваться с двух противоположных сторон. При вертикальной прокрутке — справа и слева, при горизонтальной — сверху и снизу.
Во всех случаях не будет создаваться отступ, если скроллбар — оверлейный.

В нашем случае используем scrollbar-gutter: stable чтобы при скрытии прокрутки через overflow: hidden у нас появился отступ вместо скроллбара и контент остался на месте.
*/
/*? СМЕЩЕНИЕ ЭЛЕМЕНТА, ТРАНСФОРМАЦИИ */
.test {
    /* Ключевые слова */
    transform: none;
    transform: translate(12px, 50%);/** Функция CSS изменяет положение элемента по горизонтали и/или вертикали.*/
    transform: matrix(a, c, b, d, x, y); 
    /** Смещает элементы и задает способ их трансформации, позволяя объединить несколько функций 2D-трансформаций в одной.
    /** В качестве трансформации допустимы поворот, масштабирование, наклон и изменение положения.
    /** Значение a изменяет масштаб по горизонтали. Значение от 0 до 1 уменьшает элемент, больше 1 — увеличивает.
    /** Значение c деформирует (сдвигает) стороны элемента по оси Y, положительное значение — вверх, отрицательное — вниз.
    /** Значение b деформирует (сдвигает) стороны элемента по оси X, положительное значение — влево, отрицательное — вправо.
    /** Значение d изменяет масштаб по вертикали. Значение меньше 1 уменьшает элемент, больше 1 — увеличивает.
    /** Значение x смещает элемент по оси X, положительное — вправо, отрицательное — влево.
    /** Значение y смещает элемент по оси Y, положительное значение — вниз, отрицательное — вверх. */
    transform: matrix3d(a1, b1, c1, d1, a2, b2, c2, d2, a3, b3, c3, d3, a4, b4, c4, d4);
    /** a1 b1 c1 d1 a2 b2 c2 d2 a3 b3 c3 d3 Требуется. Числа, определяющие линейное преобразование*/
    /** a4 b4 c4 d4 Требуется. Числа, определяющие применяемое преобразование.*/
    transform: perspective(17px); /** используется для придания элементу с 3D-позицией некоторой перспективы.*/
    transform: rotate(0.5turn); /** это функция свойства transform, которая позволяет вращать элементы в 2D плоскости на указанный угол. */
    transform: rotate3d(1, 2, 3, 10deg); /** трансформирует элемент без деформации, вращая его в трёхмерном пространстве вокруг фиксированной оси.*/
    transform: rotateX(10deg); /** Функция CSS определяет преобразование, которое поворачивает элемент вокруг оси x (по горизонтали) без деформации.*/
    transform: rotateY(10deg); /** Функция CSS определяет преобразование, которое поворачивает элемент вокруг оси Y (вертикальной) без его деформации*/
    transform: rotateZ(10deg);/** Функция CSS определяет преобразование, которое поворачивает элемент вокруг оси Z без деформации.*/
    transform: translate3d(12px, 50%, 3em);/** Функция CSS перемещает элемент в трёхмерном пространстве.*/
    transform: translateX(2em);/** Функция CSS перемещает элемент по горизонтали на 2D-плоскости. */
    transform: translateY(3in);/** Функция CSS перемещает элемент по вертикали на 2D-плоскости*/
    transform: translateZ(2px);/** Функция CSS перемещает элемент вдоль оси Z в трёхмерном пространстве, то есть ближе или дальше от зрителя.*/
    transform: scale(2, 0.5);/** Масштабирует элементы, делая их больше или меньше. Значения от 0 до 1 уменьшают элемент. Первое значение масштабирует элемент по ширине, второе — по высоте. Отрицательные значения отображают элемент зеркально.*/
    transform: scale3d(2.5, 1.2, 0.3);/** CSS функция изменяет размер элемента. Благодаря величине масштабирования определённой вектором, может изменять различные размеры в разных масштабах.*/
    transform: scaleX(2);/** Функция масштабирует элемент по ширине, делая его шире или уже. Если значение больше единицы, элемент становится шире, если значение находится между единицей и нулем, элемент становится уже. Отрицательные значения отображают элемент зеркально по горизонтали.*/
    transform: scaleY(0.5);/** Функция масштабирует элемент по высоте, делая его выше или ниже. Если значение больше единицы, элемент становится выше, если значение находится между единицей и нулем — ниже. Отрицательные значения отображают элемент зеркально по вертикали.*/ 
    transform: scaleZ(0.3);/** Функция CSS определяет преобразование, изменяющее размер элемента по оси Z.*/
    transform: skew(30deg, 20deg);/** Используется для деформирования (искажения) сторон элемента относительно координатных осей. Если указано одно значение, второе будет определено браузером автоматически.*/
    transform: skewX(30deg);/** Деформирует стороны элемента относительно оси X.*/
    transform: skewY(1.07rad);/** Деформирует стороны элемента относительно оси Y.*/

    /* Мультифункциональные значения */
    transform: translateX(10px) rotate(10deg) translateY(5px);
    transform: perspective(500px) translate(10px, 0, 20px) rotateY(3deg);

    /* Глобальные значения */
    transform: inherit;
    transform: initial;
    transform: unset;
}
/*? ПОВЕДЕНИЕ ЭЛЕМЕНТА ПРИ СМЕЩЕНИИ, ТРАНСФОРМАЦИИ */
.test {
    /** 1 имя свойства | 2 длительность */
    transition: margin-left 4s;
    /** 1 имя свойства | 2 длительность | 3 задержка */
    transition: margin-left 4s 1s;
    /** 1 имя свойства | 2 длительность | 3 временная функция | 4 задержка */
    transition: margin-left 4s ease-in-out 1s;
    /** Применить ко всем изменённым свойствам */
    transition: all 0.5s ease-out;
    /** Глобальные значения */
    transition: inherit;
    transition: initial;
    transition: unset;
    transition-delay: 0s; /** определяет продолжительность ожидания перед началом эффекта перехода свойства при изменении его значения.*/
    transition-duration: 0s; /** определяет продолжительность выполнения анимации. Значение по умолчанию равно 0s, то есть анимация не выполняется.*/
    transition-property: margin-right; /** определяет свойства CSS, к которым должен применяться эффект перехода.*/
    transition-timing-function: ease; /** определяет, как вычисляются промежуточные значения для свойств CSS, на которые влияет эффект перехода.*/
    transition-behavior: allow-discrete; /**определяет, будут ли запускаться переходы для свойств, поведение анимации которых является дискретным.*/
}
/*? АНИМАЦИЯ */
.test {
    animation-name: name-animation3;
    /* Имя анимации, которое связывает правило @keyframes с селектором.
    none - Означает отсутствие анимации. Также используется, чтобы отменить анимацию элемента из группы элементов, для которых задана анимация. Значение по умолчанию.
    initial - Устанавливает значение свойства в значение по умолчанию.
    inherit - Наследует значение свойства от родительского элемента.
     */
    animation-duration: .5s;
    /* .5s;/200ms;/2s, 10s;/ 15s, 30s, 200ms; Указывает время, которое анимация занимает для завершения одного цикла. Отрицательные значения недействительны. Если время равно 0s, ключевые кадры анимации не действуют, но сама анимация происходит мгновенно. Значение по умолчанию
    */
    animation-delay: .5s;
    /* задержка начала выполнения анимации; */
    animation-timing-function: linear;
    /* linear - Линейная функция, анимация происходит равномерно на протяжении всего времени, без колебаний в скорости.
    ease - Анимация начинается медленно, а затем плавно ускоряется в конце. Соответствует cubic-bezier(0.42,0,1,1).
    ease-out - Анимация начинается быстро и плавно замедляется в конце. Соответствует cubic-bezier(0,0,0.58,1).
    ease-in-out - Анимация медленно начинается и медленно заканчивается. Соответствует cubic-bezier(0.42,0,0.58,1).
    cubic-bezier(x1, y1, x2, y2) - Позволяет установить значения вручную.
    */
}
@keyframes name-animation3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(100vw - 250px));
    }
}
/*? ПОДЛОЖКА POPAP */
dialog::backdrop {
    background-image: linear-gradient(
        130deg,
        #123E66,
        #593273 41.07%,
        #623D45 76.05%
    );
}
/*
Псевдоэлемент ::backdrop отвечает за подложку под элементами, всплывающими на верхний слой страницы. Типа <dialog> в режиме модального окна, поповеров или открытых на весь экран <video>.
*/
/*? СБРОС СТИЛЕЙ КОМПОНЕНТОВ И ДОБАВЛЕНИЕ ОФОРМЛЕНИЯ */
input[checkbox] {
    appearance: none; /* Значение по умолчанию. Никакое специальное оформление не применяется.*/
    appearance: auto; /* Пользователь выбирает необходимое оформление элемента. Действует как “none” для элементов, которые не имеют какого-либо специального оформления.*/
    appearance: icon; /* Маленькое изображение какого-либо объекта, может иметь название или метку.*/
    appearance: window; /* Окно просмотра, которое используется, чтобы представить объект и контент для пользовательского просмотра и взаимодействия.*/
    appearance: button; /* Маленький объект, обычно с текстовой меткой пользовательского выбора.*/
    appearance: menu; /* Набор вариантов для пользовательского выбора, иногда можно выбрать несколько вариантов. Имеет множество видов.*/
    appearance: field; /* Область, где пользователь может ввести или изменить значение, обычно с помощью клавиатуры.*/
    appearance: desktop; /* Окно, которое представляет систему как одно целое и может содержать другие окна.*/
    appearance: workspace; /* Окно, представляющее проект или приложение, которое может содержать другие окна. Обычно имеет строку заголовка, где можно увидеть название проекта или приложения.*/
    appearance: document; /* Окно с пользовательским документом. Обычно имеет строку заголовка с названием документа. Также может быть использовано для представления файлов или справочников в системе файлов.*/
    appearance: tooltip; /* Окно, которое используется для временного отображения информации. Может иметь название "info" в системных цветах CSS2.*/
    appearance: dialogue; /* Окно, представляющее уведомления или альтернативы для пользователя. Также называется "message-box" в системных шрифтах CSS2.*/
    appearance: push-button; /* Кнопка, которая вокруг себя имеет границы. Также называется "caption" в системных шрифтах CSS2.*/
    appearance: hyperlink; /* Кнопка, представляющая гиперссылку. Гиперссылкой может считаться и обычный текст, который подчеркнут или имеет другой цвет.*/
    appearance: radio-button; /* Элемент выглядит как переключатель.*/
    appearance: checkbox; /* Элемент отображается как флажок, включая только действительную часть "checkbox".*/
    appearance: menu-item; /* Выбор в меню, который может также действовать как метка для вложенной (иерархической) меню.*/
    appearance: tab; /* Кнопка, представляющая метку для одной части окна в интерфейсе на основе вкладок.*/
    appearance: menubar; /* Главное меню, которое представляется линейно - горизонтальной чертой.*/
    appearance: outline-tree; /* Меню, где опции могут отображаться или быть скрытыми при помощи виджетов, которые часто представляются в виде маленьких треугольников или знаками плюс и минус.*/
    appearance: range; /* Управляющий элемент, который отображает текущую опцию, возможно, в виде графики, и дает возможность пользователю выбрать другие опции.*/
    appearance: signature; /* Поле для введения подписи.*/
    appearance: password; /* Поле для введения пароля. Обычно текст отображается в виде каких-либо знаков, чтобы значение стало непонятным.*/
    appearance: initial; /* Устанавливает свойство в значение по умолчанию..*/
    appearance: inherit; /* Значение элемента наследуется от родительского элемента..*/
}
/*? ВЕНДОРНЫЕ ПРЕФИКСЫ */
/** -moz- для браузера Firefox
/** -webkit- для браузеров Chrome и Safari (в обоих браузерах используется один и тот же движок визуализации)
/** -ms- для браузера Internet Explorer
/** -o-, -op-, -xv- для браузера Opera
/** -icab- — префикс для браузера iCab
/** -khtml- для просмотра HTML документов разработанный для среды KDE для UNIX-систем.
/*? СКРЫТЬ ОТ ПОЛЬЗОВАТЕЛЯ ДОСТУПНОЕ ДЛЯ БРАУЗЕРА */
.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    border: 0;
}
/*? СВОЙСТВА, КОТОРЫЕ ВХОДЯТ В СОСТАВ BORDER: */
.test {
    border-width: 1px;
    /* — задаёт толщину границы. Может быть задано в пикселях (px), процентах (%) или описано ключевым словом — thin, medium, thick. 1 */
    border-style: solid;
    /* — устанавливает стиль рамки. Может принимать одно из значений —
    none, - бордера нет  
    hidden, - скрыт
    dotted, - круглишки, точки
    dashed, - короткие толстые чёрточки
    dot-dash, - точки тире
    вще-dot-dash, - две точки тире
    solid, - сплошная линия
    double, - двойная линия
    groove, - бордер вдавленный
    ridge, - бордер выпуклый 
    inset, - вдавленный
    outset. - выпуклый 
    wave    - кривая 
    */
    border-color: #fff;
    /* — определяет цвет рамки. Может быть задан в виде ключевого слова, соответствующего названию цвета, hex-кода, rgb или hls значений. Значение currentColor использует текущий цвет текста в качестве цвета границы.  */
}
/*? СКРОЛ БАР */
.html {
    /* Старый способ */
    body::-webkit-scrollbar {
        width: 12px;               /* ширина scrollbar */
    }
        body::-webkit-scrollbar-track {
        background: orange;        /* цвет дорожки */
        border-radius: 10px 10px 10px 10px; /* бордер радиус дорожки */
    }
    body::-webkit-scrollbar-thumb {
        background-color: blue;    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
        border: 3px solid orange;  /* padding вокруг плашки */
    }
    /* Новый способ */
    html {
    scrollbar-color: DeepSkyBlue #e8e7e7;
    scrollbar-width: thin;
}
}
/*? ОПРЕДЕЛЕНИЕ РАЗМЕРА ПОЛЯ */
.test {
    /* Позволяет элементу изменять свой размер в соответствии с содержимым */
    field-sizing: content; 
    /* Устанавливает фиксированный размер элемента. Это значение по умолчанию */
    field-sizing: fixed;
}