:root {
	--maxScrin: 1920;
	--canvasPx: 1320px;
	--minScrin: 320;
	--minScrinPx: 320px;
	--col: 12;
	--offset: 20px;
	--heightHeader: 70px;

	--white255: rgb(255, 255, 255, 1);
	--black000: rgb(0, 0, 0, 1);

	--breack-2xl: 1536.98px;
	--breack-xxl: 1366.98px;
	--breack-xl: 1280.98px;
	--breack-lg: 1024.98px;
	--breack-md: 768.98px;
	--breack-sm: 560.98px;
	--breack-xs: 390.98px;

	--fields-xl: 80px;
	--fields-lg: 60px;
	--fields-md: 40px;
	--fields-sm: 20px;
	--fields-xs: 10px;
	--fields-xxs: 10px;
}
@theme {
	--breakpoint-b-2xl: 1536.98px;
	--breakpoint-b-xxl: 1366.98px;
	--breakpoint-b-xl: 1280.98px;
	--breakpoint-b-lg: 1024.98px;
	--breakpoint-b-md: 768.98px;
	--breakpoint-b-sm: 560.98px;
	--breakpoint-b-xs: 390.98px;
	--breakpoint-b-xxs: 320.98px;
	--text-h1: calc(
		26px + (36 - 26) * (100vw - var(--minScrinPx)) / (var(--maxScrin) - var(--minScrin))
	);
	--text-h2: calc(
		18px + (24 - 18) * (100vw - var(--minScrinPx)) / (var(--maxScrin) - var(--minScrin))
	);
}
.wrapper {
	@apply flex min-h-screen w-full flex-col relative;
}
.header {
	@apply w-full fixed h-(--heightHeader);
}
.main {
	@apply grow h-fit  pt-(--heightHeader);
}
.footer {
	@apply w-full;
}
.g_container {
	@apply mx-auto max-w-(--canvasPx) px-(--fields-xs) b-sm:px-(--fields-sm) b-md:px-(--fields-md) b-lg:px-(--fields-lg) b-xl:px-(--fields-xl);
	box-sizing: content-box;
}
.title__h1 {
	@apply py-2 text-center font-bold;
}
.wrap__card {
	@apply flex flex-wrap justify-center mx-[calc(-1*(var(--offset)/2))] mb-[calc(-1*var(--offset))];
}
.card {
	@apply mx-[calc(var(--offset)/2)] mb-(--offset) b-2xl:w-[calc(100%/var(--col)*3-var(--offset))] b-lg:w-[calc(100%/var(--col)*4-var(--offset))] b-md:w-[calc(100%/var(--col)*6-var(--offset))] b-sm:w-[calc(100%/var(--col)*12-var(--offset))] b-xs:w-[calc(100%/var(--col)*12-var(--offset))] w-[calc(100%/var(--col)*12-var(--offset))];
}
.wrap__center_xy {
	@apply grid place-content-center;
}
