
# СИСТЕМНЫЕ ФАЙЛЫ #
Thumbs.db                   # Windows - кэш эскизов изображений
desktop.ini                 # Windows - настройки папки
# РЕДАКТОРЫ И IDE #
.vscode/                    # Настройки VS Code
*.suo                       # Пользовательские настройки Visual Studio
*.user                      # Файлы пользователя Visual Studio
# JavaScript/Node.js #
node_modules/               # Зависимости npm/yarn
npm-debug.log*              # Логи npm
yarn-error.log*             # Логи Yarn
dist/                       # Собранные проекты (Webpack/Vite/etc.)
build/                      # Артефакты сборки
js/js_test/test.js
js/js_test/test_ts.js
TS/main.ts
TS/TS_tests/
js/time_test.js
# СИСТЕМЫ СБОРКИ #
*.log                       # Общий шаблон для лог-файлов
*.tmp                       # Временные файлы
*.bak                       # Файлы резервных копий
# ДОКУМЕНТАЦИЯ И ТЕСТЫ #
site/                       # Генерация документации (Sphinx, Jekyll)
.coverage                   # Отчеты о покрытии кода (Python coverage)
test-results.xml            # Результаты тестов
# ROOT #
index.html
server/db.json
server/public/