
:root {
    --maxScrin: 1920;
    --canvasPx: 1320px;
    --minScrin: 320;
    --minScrinPx: 320px;
    --heightHeader: 70px;

    --white255: rgb(255, 255, 255);
    --black000: rgb(0, 0, 0);
}
body { font-family: roboto, sans-serif; }
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--heightHeader);
    background-color: DeepSkyBlue;
}
.main {
    margin-top: var(--heightHeader);
    width: 100%;
    flex: 1 1 100%;
}

.footer {
    width: 100%;
    height: 70px;
    background-color: SlateGray;
    position: fixed;
    bottom: 0px;
}
.g-container {
    width: clamp(var(--minScrinPx), 90vw, var(--canvasPx));
    margin: 0px auto;
}
.menu {
    width: 100%;
    margin: 0 auto;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--heightHeader);
}
.menu__item a {
    color: #fff;
}
.menu__item {
    color: #fff;
}
.menu__item a i {
    margin-right: 5px;
}
.title__h1 {
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;    
}
.title__h2 {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
}
.text__p {
    font-size: 18px;
    color: #222121;
    padding: 5px 0;
}
.text__p_1 {
    font-size: 20px;
    font-weight: 600;
    color: #222121;
    padding: 5px 0;
}
.resurse__item span {
    margin-right: 10px;
}
.resurse__item a {
    font-size: 18px;
    font-weight: 600;
}
.text__p code {
    background-color: #828181;
    color: #fff;
    padding: 3px 5px;
}